<h2>Напишите нам</h2>

<form action="/contacts" method="POST">

  <div class="form-group">
    <label>Ваш email</label>
    <input name="sender" type="text" class="form-control" placeholder="Введите Ваш email">
  </div>
  
  <textarea name="comment" class="form-control" rows="2" placeholder="Введите Ваши пожелания"></textarea>

    <p><%= @message %></p>
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>
